<div class="search">
  <div class="search-panel">
    <h4 class="title"> TripWaker is a trusted community for people to list, discover, and book unique travel experiencec around the world. </h4>
    <p class="title" style="color: #000;">Having a long change and don't want to waste time sitting in an airport? TripWaker helps you <b>find friendly and passionate locals</b> willing to share the beaty of their city and culture with you. 
    <br>
    <b>TripWaker - a trip is more than just a destination!</b> </p>
    <br>
    <br>
  </div>
</div>
