<div class="search">
  <div class="search-panel">
    <h1 class="title">Sending Emails</h1>
    <h2 class="title" style="color: #000;">Your emails are successfully sent</h2>
    <br>
    <br>
  </div>
</div>
