// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-caption {
  padding-top: 300px;
  text-shadow: 1px 1px 2px black, 0 0 1px black;
  color: #fff;
}

.date-window {
  padding-top: 350px;
}

input {
  color: #000;
  padding: 0px;
}

.date-panel {
  height: 100px;
  width: 100hv;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.search-table {
  padding-top: 30px;
  font-size: 25px;
  font-weight: 500;
}

.title {
  padding-top: 20px;
  margin-top: 0;
}

.settings {
  padding-top: 200px;
}

.settings-panel {
  height: 400px;
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.search {
  padding-top: 200px;
}

.search-panel {
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.local {
  padding-top: 100px;
}

.local-panel {
  height: 620px;
  width: 700px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.h5 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.time-range:first-child {
  padding-top: 20px;
}

.sliders_step1 {
}

.date-list {
  margin-bottom: 40px;
}

.form-horizontal {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-group {
  padding: 7px 20px;
}

.tourist-chosen-city {
  width: 150px;
  height: 40px;
}

.chosen-city {
  width: 100%;
}

.chosen-lang {
  width: 100%;
}

.chosen-interests {
  width: 100%;
}

input.dt {
  font-size: 19px;
  height: 40px;
  width: 150px;
}

input.time {
  width: 100px !important;
}

input.date {
  width: 110px !important;
}

.suitable {
  color: #000;
  padding-top: 15px;
  margin: 0;
  padding-bottom: 5px;
}

h4.name {
  margin-top: 0px;
  margin-bottom: 5px;
}

input.ok {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
}
